In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
train_data = pd.read_csv('train.csv')
train_data.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,0,0,0,0,0,0,1,0,1
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,0,0,0,0,0,0,0,0,1
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,0,0,0,0,0,1,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,3,4,5,6,7,8,9,10,11,1

In [24]:
train_data.describe()

,loan_id,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,insurance_percent,co-borrower_credit_score,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
count,1.160580e+05,116058.000000,1.160580e+05,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,...,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000
mean,5.494155e+11,3.868961,2.082262e+05,292.280997,67.431939,1.593186,30.742293,769.926778,2.786288,459.611565,...,0.002180,0.003533,0.003421,0.004162,0.004825,0.005359,0.006617,0.007109,0.008065,0.005480
std,2.597560e+11,0.461020,1.146851e+05,89.762415,17.291719,0.491242,9.730798,42.210706,8.096464,381.946926,...,0.062161,0.082638,0.087553,0.100961,0.113128,0.128242,0.148430,0.162884,0.178128,0.073824
min,1.000009e+11,2.250000,1.100000e+04,60.000000,6.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.244656e+11,3.500000,1.200000e+05,180.000000,57.000000,1.000000,23.000000,751.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.486239e+11,3.875000,1.830000e+05,360.000000,72.000000,2.000000,31.000000,782.000000,0.000000,740.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.743034e+11,4.125000,2.780000e+05,360.000000,80.000000,2.000000,39.000000,800.000000,0.000000,791.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.999971e+11,6.750000,1.200000e+06,360.000000,97.000000,2.000000,64.000000,840.000000,40.000000,836.000000,...,6.000000,7.000000,8.000000,9.000000,10.000000,11.000000,12.000000,13.000000,14.000000,1.000000

In [25]:
train_data.columns

Index(['loan_id', 'source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12',
       'm13'],
      dtype='object')

In [26]:
train_data['loan_purpose'].unique()

array(['C86', 'B12', 'A23'], dtype=object)

In [27]:
cleaned_train = train_data.drop(labels=['loan_id','source','financial_institution','origination_date','first_payment_date'], axis=1)
cleaned_train = pd.concat([cleaned_train, pd.get_dummies(cleaned_train['loan_purpose'], prefix='loan_purpose')], axis=1)
cleaned_train = cleaned_train.drop(labels=['loan_purpose'], axis=1)
cleaned_train.head()

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,insurance_percent,co-borrower_credit_score,insurance_type,...,m7,m8,m9,m10,m11,m12,m13,loan_purpose_A23,loan_purpose_B12,loan_purpose_C86
0,4.250,214000,360,95,1.0,22.0,694.0,30.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,1
1,4.875,144000,360,72,1.0,44.0,697.0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,1,0
2,3.250,366000,180,49,1.0,33.0,780.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,1,0
3,4.750,135000,360,46,2.0,44.0,633.0,0.0,638.0,0.0,...,0,0,1,1,1,1,1,0,1,0
4,4.750,124000,360,80,1.0,43.0,681.0,0.0,0.0,0.0,...,6,7,8,9,10,11,1,0,0,1

In [28]:
cleaned_train.m13.value_counts()

0    115422
1       636
Name: m13, dtype: int64

In [29]:
from sklearn.utils import resample

# separate minority and majority classes
non_deliquent = cleaned_train[cleaned_train.m13==0]
deliquent = cleaned_train[cleaned_train.m13==1]

# upsample minority
deliquent_upsampled = resample(deliquent,
                          replace=True, # sample with replacement
                          n_samples=len(non_deliquent), # match number in majority class
                          random_state=358) # reproducible results

# combine majority and upsampled minority
upsampled = pd.concat([non_deliquent, deliquent_upsampled])

# check new class counts
upsampled.m13.value_counts()

1    115422
0    115422
Name: m13, dtype: int64

In [30]:
target = upsampled['m13']
cleaned_train = upsampled.drop(labels=['m13'], axis=1)
cleaned_train.head()

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,insurance_percent,co-borrower_credit_score,insurance_type,...,m6,m7,m8,m9,m10,m11,m12,loan_purpose_A23,loan_purpose_B12,loan_purpose_C86
636,3.875,198000,360,51,2.0,23.0,812.0,0.0,790.0,0.0,...,0,0,0,0,0,0,0,1,0,0
637,3.750,300000,360,49,2.0,32.0,800.0,0.0,755.0,0.0,...,0,0,0,0,0,0,0,0,1,0
638,3.375,305000,180,52,2.0,32.0,811.0,0.0,809.0,0.0,...,0,0,0,0,0,0,0,1,0,0
639,3.875,234000,360,70,2.0,19.0,780.0,0.0,809.0,0.0,...,0,0,0,0,0,0,0,0,1,0
640,3.990,153000,240,89,2.0,18.0,778.0,12.0,773.0,0.0,...,0,0,0,0,0,0,0,1,0,0

In [31]:
cleaned_train.shape

(230844, 25)

In [32]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()

In [33]:
X = np.asarray(cleaned_train)
y = np.asarray(target)

In [34]:
classifier.fit(X, y)

/Users/praneet/anaconda3/envs/deep_learning/lib/python3.5/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [35]:
test_data = pd.read_csv('test.csv')
test_data.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
0,1,Y,Browning-Hart,3.875,417000,360,01/02/12,Apr-12,75,1,...,0,0,0,0,0,0,0,0,0,0
1,2,X,OTHER,4.500,113000,360,01/02/12,Apr-12,80,2,...,0,0,0,0,0,0,0,0,0,0
2,3,Y,OTHER,4.500,72000,360,01/01/12,Mar-12,75,1,...,0,0,0,0,0,0,0,0,0,0
3,4,X,"Miller, Mcclure and Allen",4.125,123000,180,01/02/12,Apr-12,41,2,...,0,0,0,0,0,0,0,0,0,0
4,5,X,Browning-Hart,3.250,166000,180,01/02/12,Apr-12,53,2,...,0,0,0,0,0,0,0,0,0,0

In [36]:
cleaned_test = test_data.drop(labels=['loan_id','source','financial_institution','origination_date','first_payment_date'], axis=1)
cleaned_test = pd.concat([cleaned_test, pd.get_dummies(cleaned_test['loan_purpose'], prefix='loan_purpose')], axis=1)
cleaned_test = cleaned_test.drop(labels=['loan_purpose'], axis=1)
cleaned_test.head()

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,insurance_percent,co-borrower_credit_score,insurance_type,...,m6,m7,m8,m9,m10,m11,m12,loan_purpose_A23,loan_purpose_B12,loan_purpose_C86
0,3.875,417000,360,75,1,20,790,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,4.500,113000,360,80,2,33,793,0,784,0,...,0,0,0,0,0,0,0,0,0,1
2,4.500,72000,360,75,1,34,710,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4.125,123000,180,41,2,24,798,0,813,0,...,0,0,0,0,0,0,0,1,0,0
4,3.250,166000,180,53,2,12,767,0,768,0,...,0,0,0,0,0,0,0,1,0,0

In [37]:
X_test = np.asarray(cleaned_test)

In [38]:
y_pred = classifier.predict(X_test)

In [39]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [40]:
indices = np.array([idx for idx in range(1,len(y_pred)+1)])

In [41]:
submission_data = pd.DataFrame({'loan_id': indices, 'm13': y_pred}).set_index('loan_id')
submission_data.head()

         m13
loan_id
1          0
2          0
3          0
4          0
5          0

In [42]:
submission_data.to_csv('oversampling_submission.csv')